body {
    background-color: #fAf9f9;
  }
  
  .container {
    max-width: 95%;
    max-height: 80%;
    margin: auto;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .chart-container {
    position: relative;
    color: #739fa5;
  }
  
  .row {
    max-width: 100%;
    max-height: 80%;
    margin: auto;
  }
  
  .container_data {
    position: relative;
    background-color: #ffffff;
    border-style: solid ;
    border-radius: 5px;
    border-color: #204260;
    border-width: 2px;
    margin-top: 2vh;
    margin-right: 5px;
    z-index: 10;
  }
  
  #stockChart {
    width: 95%;
    height: 95%;
  }
  
  .btn-group {
    display: flex;
    justify-content: center;
  }
  
  .container_news {
    overflow-y: auto;
    max-height: 77.2vh;
    position: relative;
    background-color: #ffffff;
    border-style: solid ;
    border-radius: 5px;
    border-color: #204260;
    border-width: 2px;
    margin-top: 2vh;
    z-index: 10;
    padding: 1vh;
  }
  
  @media (max-width: 768px) {
    .row > [class*='col-'] {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .container_news,
    .container_data {
      height: auto;
    }
  }


  .chart-actions[data-v-6c4d3f30] {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    z-index: 10;
    font-weight: bold;
    font-size: 25;
    width: 100%;
    justify-content: center;
}

.chart-action[data-v-6c4d3f30] {
    transition: background .25s,border-color .25s;
    background: rgba(115, 159, 165,.05);
    border: 1px solid transparent;
    border-radius: 6px;
    color: rgb(115, 159, 165);
    text-decoration: none!important;
    display: inline-block;
    padding: 8px 16px;
    margin: 0 8px 8px 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.chart-action[data-v-6c4d3f30]:hover {
    background: rgba(115, 159, 165,.15);
    border-color: rgba(115, 159, 165,.2);
    color: #739fa5
}

.chart-action[data-v-6c4d3f30]:active {
    background: rgba(115, 159, 165,.3);
    border-color: rgba(115, 159, 165,.4);
    color: #739fa5
}