<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Visualization</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
</head>
<body>
    <h1 class="text-center mb-4">SP500 Stock Viewer</h1>
    <div class="container">
        <div class="row_topbar">
            <select id="searchInput" class="form-control select2" aria-label="Search for a stock">
                <option>Select a stock...</option>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="container_data">
                    <div class="chart-container">
                        <canvas id="stockChart"></canvas>
                    <div data-v-6c4d3f30 class="chart-actions">
                        <a data-v-6c4d3f30="" class="chart-action" data-action="Fill: false (default)">
                            Fill: false (default)
                        </a>
                        <a data-v-6c4d3f30="" class="chart-action" data-action="Fill: origin">
                            Fill: origin
                        </a>
                        <a data-v-6c4d3f30="" class="chart-action" data-action="Fill: start">
                            Fill: start
                        </a>
                        <a data-v-6c4d3f30="" class="chart-action" data-action="Fill: end">
                            Fill: end
                        </a>
                        <a data-v-6c4d3f30="" class="chart-action" data-action="Smooth">
                            Smooth
                        </a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="container_news overflow-scroll">
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
